@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');



*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    // background: rgb(18, 1, 1);
}

body {

    font-weight: 300;
    overflow: none;
    color: white;
}

html {
    font-size: 62.5%;
    /*1 rem = 10px */
    box-sizing: border-box;
}

/* Nasa Photo and properties */



.loading {
    margin-top: 10rem;
    font-size: 3rem;
    color: white;
    text-align: center;
}



