.container {
    display: flex;
    flex-direction: column;
    grid-template-columns: 8rem repeat(10,[col-start]1fr [col-end]) 8rem;
    grid-template-rows: 8rem min-content repeat(4, min-content);

}

.home {
    grid-column: col-start 1 /col-end 8;
    // background-color: blue;
    grid-row: 2/2;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    text-align: center;


    &__link {
        font-size: 4rem;
        color: #fff;
        text-decoration: none;
        transition: 0.3s ease all;
        text-transform: uppercase;

        &--1 {
            color: red;
            grid-column: 1/1;
            grid-row: 2/2;
        }

        &--2 {
            color: blue;
            grid-column: 2/2;
            grid-row: 2/2;
        }

        &--3 {
            color: yellow;
            grid-column: 3/3;
            grid-row: 2/2;
        }
    }

}