.potdCollection {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, min-content);
    justify-items: center;
    align-items: center;
    justify-self: center;
    justify-content: center;
    // margin: 0 auto;
    margin: 3rem 0rem 2rem 0rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    // padding: 0 3rem 0 3rem;
  


    &__photo {
        border-radius: 2rem;
        grid-column: 1/-1;
        height: 80%;


    }

    &__details {
        grid-column: 2/6;
        grid-row: 2/2;
        font-size: 2rem;

        &--title,
        &--date,
        &--explanation {
            text-align: center;
        }
    }
}