.potdCollection {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, min-content);
    justify-items: center;
    margin: 3rem 0rem 2rem 0rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: black;


    &__imgContainer {
        grid-column: 1/-1;

    }


    &__photo {
        border-radius: 2rem;
        margin-top: 2rem;
        max-width: 100%
    }

    &__details {
        grid-column: 2/6;
        grid-row: 2/2;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;

        &--title {
            font-size: 5rem;
            font-weight: 500;
            font-family: 'Oswald', sans-serif;
        }

        &--explanation {
            font-family: 'Inter', sans-serif;
            line-height: 3rem;
        }

    }
}

.clearStateButton{
    display:flex;
    margin: 0 auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 3rem;
    border: none;


    font-size: 2rem;
    text-decoration: underline;
    transition: .03s ease all;

    &:hover {

        transform: scale(1.1);
    }
}