/* NavBar */
.navbar {
    grid-column: col-start 1 /col-end 8;
    background-color: black;
    text-align: center;
    margin-top: 3rem;

    &__link {
        color: white;
        font-size: 2rem;
        text-decoration: underline;
        transition: .03s ease all;

        &:hover {
            color: white;
            transform: scale(1.1);
        }
    }
}