.formContainer {
    grid-column: 1/-1;
    padding: 10rem;
    grid-row: 2/2;
    margin: 0 auto;
    display: flex;

}

.control-group {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    color: white;

    &__label {
        font-size: 3rem;
    }

    &__input {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

}





.btn {
    background-color: white;
    border-radius: 3px;

    font-size: 17px;

}